Repository FRCTeam3255/2025_Robot_Code, pull requests merged in 2025-04, with the labels that each got.

#454 Added third limelight 🔦🔦🔦
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/commands/AddVisionMeasurement.java
  src/main/java/frc/robot/subsystems/Vision.java
Labels: 🤖 Tested on bot

#377 Net auto align ( • ̀ω•́ )✧
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/DriveManual.java
  src/main/java/frc/robot/subsystems/Drivetrain.java
  src/main/java/frc/robot/subsystems/StateMachine.java
Labels: 🤖 Tested on bot

#448 work around coral stuck under elevator
  src/main/deploy/elastic-layout.json
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/CoralStuckSoftwareLimitToggle.java
  src/main/java/frc/robot/commands/Zeroing/ManualZeroElevator.java
  src/main/java/frc/robot/commands/Zeroing/ZeroElevator.java
  src/main/java/frc/robot/subsystems/Elevator.java
Labels: 🤖 Tested on bot, ✨ Code Good - Ready to Test

#455 Disable self drive to branch when coral is not preped after clean reef \ (≧□≦) /
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/DriveManual.java
  src/main/java/frc/robot/subsystems/Drivetrain.java
  src/main/java/frc/robot/subsystems/StateMachine.java
Labels: 🛑 Untested

#471 Auto align to reeef on opponent side (((φ(◎ロ◎;)φ)))
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/DriveManual.java
  src/main/java/frc/robot/subsystems/Drivetrain.java
Labels: 🤖 Tested on bot

#473 Slowly Move Coral ( ͡° ͜ʖ ͡°)
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/states/None.java
  src/main/java/frc/robot/commands/states/first_scoring_element/EjectCoral.java
  src/main/java/frc/robot/commands/states/first_scoring_element/IndexingCoral.java
  src/main/java/frc/robot/commands/states/first_scoring_element/IntakeCoralHopper.java
  src/main/java/frc/robot/commands/states/hold_scoring_elements/HasAlgae.java
  src/main/java/frc/robot/commands/states/hold_scoring_elements/HasCoral.java
  src/main/java/frc/robot/commands/states/hold_scoring_elements/HasCoralAndAlgae.java
  src/main/java/frc/robot/commands/states/scoring/ScoringCoral.java
  src/main/java/frc/robot/commands/states/scoring/ScoringCoralWithAlgae.java
  src/main/java/frc/robot/commands/states/second_scoring_element/EjectCoralWithAlgae.java
  src/main/java/frc/robot/commands/states/second_scoring_element/IndexingCoralWithAlgae.java
  src/main/java/frc/robot/commands/states/second_scoring_element/IntakeCoralWithAlgae.java
  src/main/java/frc/robot/subsystems/CoralOuttake.java
Labels: 🤖 Tested on bot

#472 Fix Reef Auto Align 🍰
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/DriveManual.java
Labels: 🤖 Tested on bot

#474 Auto Align to cage & driver overwrite
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/DriveManual.java
  src/main/java/frc/robot/subsystems/StateMachine.java
Labels: 🤖 Tested on bot

#467 Create Right_Algae_Net.auto (¬_¬")
  src/main/deploy/pathplanner/autos/Right_Algae_Net.auto
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/DriveManual.java
  src/main/java/frc/robot/subsystems/Drivetrain.java
Labels: 🤖 Tested on bot

#482 Widen algae net scoring tolerance 🏀
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/states/scoring/ScoringAlgae.java
Labels: 🤖 Tested on bot

#475 Create climb auto align on the opposing side (。・・)ノ
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/commands/DriveManual.java
Labels: 🤖 Tested on bot

#480 Move back after placing coral with algae o(≧口≦)o
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/DriveManual.java
  src/main/java/frc/robot/commands/states/scoring/ScoringCoralWithAlgae.java
  src/main/java/frc/robot/subsystems/Drivetrain.java
  src/main/java/frc/robot/subsystems/Elevator.java
  src/main/java/frc/robot/subsystems/StateMachine.java
Labels: 🤖 Tested on bot
