Repository FRCTeam3255/2025_Robot_Code, pull requests merged in 2025-02, with the labels that each got.

#224 Refactor IntakeCoralHopper to use global variable naming for subsystems
  src/main/java/frc/robot/commands/states/IntakeCoralHopper.java
Labels: 🛑 Untested

#215 made the elevator go back down after cleaning🦟™️
  simgui-ds.json
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/commands/states/CleaningL2Reef.java
  src/main/java/frc/robot/commands/states/CleaningL3Reef.java
  src/main/java/frc/robot/subsystems/AlgaeIntake.java
Labels: 💻 Tested in sim

#228 Fix auto named commands
  src/main/deploy/pathplanner/autos/4-Piece-Low.auto
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
Labels: 💻 Tested in sim

#241 Rename pdh logging
  src/main/java/frc/robot/Robot.java
Labels: ⏳ In Progress

#243 Elevator and CANRange Tuning
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/subsystems/CoralOuttake.java
Labels: 🤖 Tested on bot

#247 Added CANRange Indexing
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/states/EjectCoral.java
  src/main/java/frc/robot/commands/states/IntakeCoralHopper.java
  src/main/java/frc/robot/commands/states/PlaceCoral.java
  src/main/java/frc/robot/subsystems/CoralOuttake.java
Labels: 🤖 Tested on bot

#244 Decrease DT Speed in Coloration to Height
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/DriveManual.java
Labels: 🛑 Untested

#251 Tuned Elevator Heights
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/states/None.java
  src/main/java/frc/robot/commands/states/PlaceCoral.java
  src/main/java/frc/robot/subsystems/StateMachine.java
Labels: 🤖 Tested on bot

#248 convert robotposes to use units (ﾉ*･ω･)ﾉ
  src/main/java/frc/robot/subsystems/RobotPoses.java
Labels: 💻 Tested in sim

#242 ✧( •̀ ω •́ ) created climber ( •̀ ω •́ )✧
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/states/ClimberDeploying.java
  src/main/java/frc/robot/commands/states/ClimberRetracting.java
  src/main/java/frc/robot/subsystems/StateMachine.java
Labels: 🛑 Untested

#216 Update PlaceCoral.java
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/states/None.java
  src/main/java/frc/robot/commands/states/PlaceCoral.java
  src/main/java/frc/robot/commands/states/ScoringCoral.java
  src/main/java/frc/robot/subsystems/StateMachine.java
Labels: 💻 Tested in sim, 🤖 Tested on bot, ⏳ In Progress

#260 Add 2nd Limelight
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/AddVisionMeasurement.java
  src/main/java/frc/robot/subsystems/Vision.java
Labels: 💻 Tested in sim

#276 Tested real algae intake (。・ω・。)
  src/main/java/frc/robot/commands/Zeroing/ZeroAlgaeIntake.java
  src/main/java/frc/robot/commands/states/IntakingAlgaeGround.java
Labels: 🤖 Tested on bot

#278 Robot checks for game pieces MORE! ผ(•̀_•́ผ)
  src/main/deploy/pathplanner/paths/P-F.path
  src/main/deploy/pathplanner/paths/P-I.path
  src/main/deploy/pathplanner/settings.json
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/states/IntakeCoralHopper.java
  src/main/java/frc/robot/subsystems/StateMachine.java
Labels: 🛑 Untested

#270 fix PDH log q(≧▽≦q)
  src/main/java/frc/robot/Robot.java
Labels: 🤖 Tested on bot

#272 Manual Zeroing is GONE (in teleop) o((>ω< ))o
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
Labels: 🤖 Tested on bot

#284 Fix Issue Templates (ᵕ.ᵕ)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/task.md
Labels: 📖 Documentation

#290 fix manual zeroing(●ˇ∀ˇ●)
  src/main/java/frc/robot/commands/Zeroing/ManualZeroAlgaeIntake.java
  src/main/java/frc/robot/commands/Zeroing/ManualZeroElevator.java
Labels: 🤖 Tested on bot

#193 Reef Override Tuning :3
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/commands/AddVisionMeasurement.java
  src/main/java/frc/robot/commands/DriveManual.java
  src/main/java/frc/robot/subsystems/Drivetrain.java
  src/main/java/frc/robot/subsystems/Vision.java
Labels: 🤖 Tested on bot

#295 Algae Intake Tuning (^._.^)ﾉ
  src/main/java/frc/robot/Constants.java
Labels: 🤖 Tested on bot

#283 allowed HAS_ALGAE -> INTAKING_ALGAE_GROUND ( ͡° ᴥ ͡°)
  src/main/java/frc/robot/subsystems/StateMachine.java
Labels: 🤖 Tested on bot

#296 auto align to coral station ○( ＾皿＾)っ Hehehe…
  simgui-ds.json
  src/main/deploy/pathplanner/paths/New New Path.path
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/DriveManual.java
  src/main/java/frc/robot/subsystems/Drivetrain.java
Labels: 💻 Tested in sim, ✨ Code Good - Ready to Test

#245 Coast Mode Elevator Zeroing (╬ಠ益ಠ)
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/commands/Zeroing/ManualZeroElevator.java
  src/main/java/frc/robot/subsystems/Elevator.java
Labels: 🤖 Tested on bot, ✨ Code Good - Ready to Test

#302 Create Driver States _(:з)∠)_
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/DriveManual.java
  src/main/java/frc/robot/subsystems/Drivetrain.java
  src/main/java/frc/robot/subsystems/StateMachine.java
Labels: 💻 Tested in sim

#305 Modify constants to match new Limelight Positions
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/commands/AddVisionMeasurement.java
  src/main/java/frc/robot/subsystems/Vision.java
Labels: 🤖 Tested on bot

#256 disabled shooting algae until desired point electric boogaloo (￣y▽￣)╭ Ohohoho.....
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/states/PrepAlgaeZero.java
  src/main/java/frc/robot/commands/states/PrepCoralLv.java
  src/main/java/frc/robot/commands/states/PrepCoralZero.java
  src/main/java/frc/robot/commands/states/PrepNet.java
  src/main/java/frc/robot/commands/states/PrepProcessor.java
  src/main/java/frc/robot/commands/states/ScoringAlgae.java
  src/main/java/frc/robot/commands/states/ScoringCoral.java
  src/main/java/frc/robot/subsystems/AlgaeIntake.java
  src/main/java/frc/robot/subsystems/Elevator.java
  src/main/java/frc/robot/subsystems/StateMachine.java
Labels: 🤖 Tested on bot, ✨ Code Good - Ready to Test

#306 Elastic ♪(･ω･)ﾉ
  build.gradle
  elastic-layout.json
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/Elastic.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain.java
Labels: 🤖 Tested on bot

#309 did most of the processor align but i think i forgot something
  simgui.json
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/DriveManual.java
  src/main/java/frc/robot/subsystems/StateMachine.java
Labels: 💻 Tested in sim

#313 Make Elastic Work on Driver Laptops ◕‿↼
  src/main/deploy/elastic-layout.json
  src/main/java/frc/robot/Robot.java
Labels: 🤖 Tested on bot

#322 Tune Elevator Placing Debounce
  src/main/java/frc/robot/Constants.java
Labels: 🤖 Tested on bot

#320 Create New Elastic Tabs ( ಠ ͜ʖಠ)
  src/main/deploy/elastic-layout.json
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
Labels: 💻 Tested in sim, 🤖 Tested on bot

#323 Align to Opposing Processor ~_~
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/commands/DriveManual.java
  src/main/java/frc/robot/subsystems/Drivetrain.java
Labels: 💻 Tested in sim

#326 removed unnecessary smartdashboards and converted the alliance to a e…
  src/main/java/frc/robot/subsystems/AlgaeIntake.java
  src/main/java/frc/robot/subsystems/Climber.java
  src/main/java/frc/robot/subsystems/CoralOuttake.java
  src/main/java/frc/robot/subsystems/Elevator.java
Labels: 💻 Tested in sim

#330 Removed Second Climber Motor ᕙ(⊙‸⊙)ᕗ
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotMap.java
  src/main/java/frc/robot/commands/Zeroing/ManualZeroElevator.java
  src/main/java/frc/robot/subsystems/Climber.java
  src/main/java/frc/robot/subsystems/Drivetrain.java
  src/main/java/frc/robot/subsystems/RobotPoses.java
Labels: 🛑 Untested

#301 Reversed Zeroing on Algae Intake (✿❦ ͜ʖ ❦)
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/DriveManual.java
  src/main/java/frc/robot/commands/Zeroing/ManualZeroAlgaeIntake.java
  src/main/java/frc/robot/commands/Zeroing/ZeroAlgaeIntake.java
  src/main/java/frc/robot/subsystems/Climber.java
  src/main/java/frc/robot/subsystems/RobotPoses.java
  src/main/java/frc/robot/subsystems/StateMachine.java
Labels: 🤖 Tested on bot, ✨ Code Good - Ready to Test

#268 current limiting galore (★ ω ★)
  src/main/java/frc/robot/Constants.java
Labels: 🛑 Untested, ✨ Code Good - Ready to Test

#337 332 add code to reverse coral (▀̿Ĺ̯▀̿ ̿)
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/states/EjectCoral.java
  src/main/java/frc/robot/subsystems/StateMachine.java
Labels: 🛑 Untested

#342 State Machine Rehaul 🏌️‍♀️
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/states/climbing/ClimberDeploying.java
  src/main/java/frc/robot/commands/states/climbing/ClimberRetracting.java
  src/main/java/frc/robot/commands/states/first_scoring_element/CleaningL2Reef.java
  src/main/java/frc/robot/commands/states/first_scoring_element/CleaningL3Reef.java
  src/main/java/frc/robot/commands/states/first_scoring_element/EjectCoral.java
  src/main/java/frc/robot/commands/states/first_scoring_element/IntakeCoralHopper.java
  src/main/java/frc/robot/commands/states/first_scoring_element/IntakingAlgaeGround.java
  src/main/java/frc/robot/commands/states/hold_scoring_elements/HasAlgae.java
  src/main/java/frc/robot/commands/states/hold_scoring_elements/HasCoral.java
  src/main/java/frc/robot/commands/states/hold_scoring_elements/HasCoralAndAlgae.java
  src/main/java/frc/robot/commands/states/prep_algae/PrepAlgaeZero.java
  src/main/java/frc/robot/commands/states/prep_algae/PrepAlgaeZeroWithCoral.java
  src/main/java/frc/robot/commands/states/prep_algae/PrepNet.java
  src/main/java/frc/robot/commands/states/prep_algae/PrepNetWithCoral.java
  src/main/java/frc/robot/commands/states/prep_algae/PrepProcessor.java
  src/main/java/frc/robot/commands/states/prep_algae/PrepProcessorWithCoral.java
  src/main/java/frc/robot/commands/states/prep_coral/PrepCoralLv.java
  src/main/java/frc/robot/commands/states/prep_coral/PrepCoralLvWithAlgae.java
  src/main/java/frc/robot/commands/states/prep_coral/PrepCoralZero.java
  src/main/java/frc/robot/commands/states/prep_coral/PrepCoralZeroWithAlgae.java
  src/main/java/frc/robot/commands/states/scoring/ScoringAlgae.java
  src/main/java/frc/robot/commands/states/scoring/ScoringAlgaeWithCoral.java
  src/main/java/frc/robot/commands/states/scoring/ScoringCoral.java
  src/main/java/frc/robot/commands/states/scoring/ScoringCoralWithAlgae.java
  src/main/java/frc/robot/commands/states/second_scoring_element/CleaningL2ReefWithCoral.java
  src/main/java/frc/robot/commands/states/second_scoring_element/CleaningL3ReefWithCoral.java
  src/main/java/frc/robot/commands/states/second_scoring_element/IntakeCoralWithAlgae.java
  src/main/java/frc/robot/subsystems/StateMachine.java
Labels: 🛑 Untested

#271 Fix Climber state softlock (。_。)
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Climber.java
  src/main/java/frc/robot/subsystems/StateMachine.java
Labels: 🤖 Tested on bot

#351 update pose reset to against the reef (￣▽￣)"
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
Labels: 💻 Tested in sim, 🤖 Tested on bot

#321 Auto Prep Arrays
  src/main/deploy/pathplanner/autos/Clockwork_Nine_Piece.auto
  src/main/deploy/pathplanner/autos/Four_Piece_High.auto
  src/main/deploy/pathplanner/autos/Four_Piece_Low.auto
  src/main/deploy/pathplanner/autos/One_Piece_Low.auto
  src/main/deploy/pathplanner/autos/Six_Piece_High.auto
  src/main/deploy/pathplanner/paths/CSBottom-B.path
  src/main/deploy/pathplanner/paths/CSBottom-C.path
  src/main/deploy/pathplanner/paths/CSBottom-D.path
  src/main/deploy/pathplanner/paths/CSBottom-E.path
  src/main/deploy/pathplanner/paths/CSBottom-F.path
  src/main/deploy/pathplanner/paths/P-C.path
  src/main/deploy/pathplanner/paths/P-F.path
  src/main/deploy/pathplanner/settings.json
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/CoralOuttake.java
  src/main/java/frc/robot/subsystems/Drivetrain.java
Labels: 🤖 Tested on bot

#345 Update auto align to coral station /ᐠ｡ꞈ｡ᐟ\
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/DriveManual.java
  src/main/java/frc/robot/subsystems/Drivetrain.java
Labels: ⏳ In Progress

#353 Climber Match Time ᕙ(▀̿ĺ̯▀̿ ̿)ᕗ
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/commands/states/climbing/ClimberDeploying.java
Labels: 💻 Tested in sim

#366 Made Elastic Better ( ✧≖ ͜ʖ≖)
  src/main/deploy/elastic-layout.json
Labels: 🤖 Tested on bot

#181 Create algae net auto ( ﾉ ﾟｰﾟ)ﾉ + Controller Updates
  src/main/deploy/pathplanner/autos/Algae_Net.auto
  src/main/deploy/pathplanner/paths/G-GFAlgae.path
  src/main/deploy/pathplanner/paths/GFAlgae-Net.path
  src/main/deploy/pathplanner/paths/IJAlage-Net.path
  src/main/deploy/pathplanner/paths/Net-IJAlgae.path
  src/main/deploy/pathplanner/paths/P-G.path
  src/main/deploy/pathplanner/settings.json
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/RobotMap.java
  src/main/java/frc/robot/commands/DriveManual.java
  src/main/java/frc/robot/commands/states/climbing/ClimberDeploying.java
  src/main/java/frc/robot/commands/states/hold_scoring_elements/HasCoralAndAlgae.java
  src/main/java/frc/robot/subsystems/CoralOuttake.java
  src/main/java/frc/robot/subsystems/Drivetrain.java
  src/main/java/frc/robot/subsystems/StateMachine.java
Labels: 🛑 Untested, 🏧 Auto

#344 made LEDs for manual algae zeroing
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/Zeroing/ManualZeroAlgaeIntake.java
  src/main/java/frc/robot/commands/Zeroing/ManualZeroElevator.java
Labels: ✨ Code Good - Ready to Test

#367 Updated Neutral Algae Pivot Angle (‡ಠ╭╮ಠ)
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/commands/states/None.java
  src/main/java/frc/robot/commands/states/first_scoring_element/IntakeCoralHopper.java
  src/main/java/frc/robot/commands/states/hold_scoring_elements/HasCoral.java
  src/main/java/frc/robot/commands/states/prep_coral/PrepCoralLv.java
  src/main/java/frc/robot/subsystems/StateMachine.java
Labels: 🛑 Untested

#286 added rumble ✍️(◔◡◔)
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/commands/Rumbles/AlgaeReadyToPlaceRumble.java
  src/main/java/frc/robot/commands/Rumbles/CoralReadyToPlaceRumble.java
  src/main/java/frc/robot/commands/Rumbles/HasGamePieceRumble.java
  src/main/java/frc/robot/commands/Zeroing/ManualZeroAlgaeIntake.java
  src/main/java/frc/robot/commands/Zeroing/ZeroAlgaeIntake.java
  src/main/java/frc/robot/commands/states/scoring/ScoringAlgae.java
  src/main/java/frc/robot/commands/states/scoring/ScoringAlgaeWithCoral.java
  src/main/java/frc/robot/commands/states/scoring/ScoringCoral.java
  src/main/java/frc/robot/commands/states/scoring/ScoringCoralWithAlgae.java
  src/main/java/frc/robot/subsystems/AlgaeIntake.java
  src/main/java/frc/robot/subsystems/Elevator.java
Labels: 🛑 Untested, ✨ Code Good - Ready to Test

#360 created LEDs for all new states
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/commands/states/climbing/ClimberRetracting.java
  src/main/java/frc/robot/commands/states/climbing/ManualClimberDeploying.java
  src/main/java/frc/robot/commands/states/hold_scoring_elements/HasCoralAndAlgae.java
  src/main/java/frc/robot/commands/states/prep_algae/PrepAlgaeZeroWithCoral.java
  src/main/java/frc/robot/commands/states/prep_algae/PrepNetWithCoral.java
  src/main/java/frc/robot/commands/states/prep_algae/PrepProcessorWithCoral.java
  src/main/java/frc/robot/commands/states/prep_coral/PrepCoralLvWithAlgae.java
  src/main/java/frc/robot/commands/states/prep_coral/PrepCoralZeroWithAlgae.java
  src/main/java/frc/robot/commands/states/scoring/ScoringAlgaeWithCoral.java
  src/main/java/frc/robot/commands/states/scoring/ScoringCoralWithAlgae.java
  src/main/java/frc/robot/subsystems/LED.java
Labels: ✨ Code Good - Ready to Test
